@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
:root {
	--blue: #2c3e50;
	--black: #444;
	--grey: #777;
	--worldlink: #0956a4;
}

body, html {
	min-height: 100vh;
}
body {
	color: var(--black);
	font-family: 'PT Sans', 'sans-serif';
	padding: 60px 0;
}

h1.site-heading {
	font-size: 22px;
	font-weight: 600;
}
.separator {
	width: 60px;
	height: 4px;
	background: var(--grey);
	border-radius: 4px;
	margin: 0 auto;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: calc( 100vh - 120px );
	padding: 0 20px;
}

.form-body {
	min-width: 300px;
	max-width: 700px;
	width: 100%;
	padding: 60px 40px;
	border-radius: 6px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
}

.btn-worldlink {
	font-size: 13px;
	background: var(--worldlink);
	color: #fff;
	transition: 0.3s transform ease;
}

.btn-worldlink:hover {
	color: #fff;
	transform: scale(1.1);
	transition: 0.3s transform ease;
}

a.github {
	font-size: 13px;
	font-weight: 600;
	color: var(--blue);
	display: inline-block;
	position: relative;
}

a.github::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	height: 2px;
	width: 100%;
	background: var(--blue);
	transition: 0.3s all ease;
}

a.github:hover {
	text-decoration: none;
}

a.github:hover::after {
	height: 4px;
	transition: 0.3s all ease;
}

.user-info {
	width: 100%;
}
.user-info span {
	display: block;
}

.json-code code {
	width: 100%;
	word-wrap: break-word;
	background: #222;
	color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
}
.json-code code::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.json-code code .hljs-string {
	color: #2ecc71;
}
.json-code code .hljs-number {
	color: #e74c3c;
}